<div class="container">

        <div class="itemList">

            <!--div class="alert alert-info">
                <p>Sort key: {{orderProp}}</p>
                <p>Reverse: {{reverse}}</p>
                <p>Search String : {{search}}</p>
            </div-->

            <!--form ng-show="displaySearch" class="form-inline" style="width: 100%; margin-top: 30px">
                <div class="form-group" style="width: 100%">
                    <input style="width: 100%" type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form-->

            <div class="tabs" >
                <ul class="list-inline">
                    <li>Sort by:</li>
                    <li ng-class="{'tab' : true, 'active' : orderProp == 'date'}" ng-click="tab('date')">Date <span class="glyphicon sort-icon" ng-show="orderProp=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </li>
                    <li ng-class="{'tab' : true, 'active' : orderProp == 'title'}" ng-click="tab('title')">Title <span class="glyphicon sort-icon" ng-show="orderProp=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></li>
                </ul>

            </div>

            <div class="item text-center" dir-paginate="item in items | filter: search | orderBy: sort : reverse | itemsPerPage:5">
                <div class="item" ng-click="itemClicked(item)">
                    <p><b ng-bind="::item.title"></b></p>
                    <p>{{ ::item.date | toDate | date : 'dd/MM/yyyy'}}</p>
                    <img on-error class="image-on-list" ng-src="{{::item.url}}" on-error>
                </div>
            </div>

            <div class="text-center">
                <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                </dir-pagination-controls>
            </div>

        </div>

    </div>

</div>